IPython
astral
astropy
contextily
fastdtw
folium
gdown
geopandas
geopy
google
gpxpy
haversine
kaggle
librosa
mapillary
matplotlib
networkx
opencv-python
osmium
osmnx
pandas
piexif
plotly
pyproj
pytz
rasterio
ratelimit
rdp
requests
scikit-learn
scipy
seaborn
shapely
skyfield
tqdm
