astral
astropy
fastdtw
geopandas
google
gpxpy
haversine
kaggle
librosa
mapillary
networkx
opencv-python
osmnx
pandas
piexif
plotly
pyproj
pytz
ratelimit
rdp
scikit-learn
scipy
seaborn
shapely
skyfield
-e 
black
flake8
